
/*div {
	border:2px solid chocolate;
}
*/
body {
	background-color:black;
}

.main {
	background-color:white;
	margin-top:110px;
	padding-left:100px;
	min-width:1200px;
	height:500px;
	position:relative;
	z-index: 1;
}

.ryu {
	float:left;
	width:659px;
	height:494px;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool, .hulk-ready, .hulk-still, .hulk-throwing, .hulk-cool {
	width:659px;
	height:494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool, .hulk-ready, .hulk-throwing, .hulk-cool {
	display:none;
}

.ryu-ready, .hulk-ready {
	background-image:url('../images/ryu-ready-position.gif');
}

.ryu-still, .hulk-still {
	background-image:url('../images/ryu-standing-still.png');
}

.ryu-throwing, .hulk-throwing {
	background-image:url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool, .hulk-cool {
	background-image:url('../images/ryu-cool.gif');
}

.ryu-cool, .hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .hulk-cool, .hulk-still, .hulk-throwing, .hulk-ready, .streetfighter-logo {
	background-repeat:no-repeat;
}
.hadouken {
	background-image: url('../images/hadouken.gif');
	width:156px;
	height:90px;
	display:none;
	position: absolute;
	z-index: 10;
	top:165px;
	left:550px;
	float: left;
}

/*Hulk Ryu*/

.hulk-ryu {
    filter: hue-rotate(90deg);
    float:right;
    width:659px;
	height:494px;
	-moz-transform: scaleX(-1);
     -o-transform: scaleX(-1);
     -webkit-transform: scaleX(-1);
     transform: scaleX(-1);
     filter: FlipH;
     -ms-filter: "FlipH";
     
     
}


.hulk-hadouken {
	background-image: url('../images/hadouken.gif');
	width:156px;
	height:90px;
	display:none;
	position: absolute;
	z-index: 10;
	top:165px;
	right:447px;
	float: right;
	-moz-transform: scaleX(-1);
     -o-transform: scaleX(-1);
     -webkit-transform: scaleX(-1);
     transform: scaleX(-1);
     filter: FlipH;
     -ms-filter: "FlipH";
}

/*the instructions*/

.instruction {
	font-family: 'Oswald', sans-serif;
	font-size:1.2rem;
	font-weight: 500;
	text-align:center;
	position:absolute;
	margin-left:710px;
	z-index:15;
	margin-top:-125px;
}

.instruction-text-one {
	margin:0 auto;
}

.instruction-text-two {
	margin:0 auto;
}

/*streetfighter logo*/

.streetfighter-logo {
	z-index:15;
	position:absolute;
	display:none;
	background-image:url('../images/street-fighter-logo.gif');
	height:200px;
	width:380px;
	margin-left:696px;
	margin-top:-400px;

}

/*my name*/


.my-name {
	font-family: 'Kaushan Script', cursive;
	text-align:center:
	color:black;
	width:200px;
	height:100px;
	position:absolute;
	z-index:14;
	margin-left:772px;
	margin-top:-326px;
	font-size:2rem;
	display:none;
	
}

@media screen and (max-width:1400px) {
	.streetfighter-logo{
		margin-left:510px;
	}

	.my-name {
		margin-left:580px;
	}

	.instruction {
		margin-left:540px;
	}

	.hulk-ryu {
		width:400px;
	}
}